<%- include("../partials/header") %>

<form action="/posts" method="POST">

  <%- renderInput({
    name: "title",
    placeholder: "About what?",
    value: post.title,
    errors
  }) %>

  <%- renderInput({
    name: "imageUrl",
    placeholder: "e.g. http://imgur.com/myPic.jpg",
    value: post.imageUrl,
    errors
  }) %>

  <%- renderTextarea({
    name: "content",
    placeholder: "What are your thoughts?",
    value: post.content,
    errors
  }) %>

  <input type="submit" value="Save" class="btn btn-outline-success">
</form>

<%- include("../partials/footer") %>